* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
  
body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nevimuz {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 15%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    overflow: hidden;
    text-transform: uppercase;
}

.header {
    overflow: hidden;
    height: 150px;
}

@media (min-width: 768px) {
.num {
    font-size: 100px;
}
}

@media (max-width: 767px) {
.num {
    font-size: 50px;
}
}

@media (max-width: 480px) {
.num {
    font-size: 30px;
}
}

@media (min-width: 768px) {
.text {
    font-size: 35px;
}
}

@media (max-width: 767px) {
.text {
    font-size: 20px;
}
}

@media (max-width: 480px) {
.text {
    font-size: 15px;
}
}

@media (min-width: 768px) {
body {
    padding-top: 75px;
}
}

h1 {
padding-top: 10px;
}

@media (min-width: 768px) {
h1 {
    margin-bottom: 75px;
    font-size: 100px;
}
}
