/* Neumím css :D */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    font-size: 50px;
    margin-bottom: 100px;
}

.game {
    font-size: 20px;
    font-weight: 600;
}

.reset {
    color: black;
    font-weight: 800;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}